<style>

********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 15px;
  padding: 33.33px;
  
}
body {
  padding: 2.5%;
  margin: 0px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  text-align: center;

}

p {
  padding: 20px 12px 0 12px
}

.titlebox {
  float: right;
  position: relative;
  top: -1px;
  right: -1px;
  text-align: center;
  border: solid 1px;
  width: 33.33%;
  padding: 4px 0;
  font-size: 125%;

}

.red {
  background-color: red;
}

.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}



.box {
    background-color: rgb(196, 196, 196);
    text-align: left;
    border: 1px solid black;
    /* width: 300px; */
    /* height: 100px; */
    margin-top: 20px;
    /* overflow-wrap: break-word; */
    font-family: Arial, Helvetica, sans-serif;
    /* width: 33.33%; */
     float: left;
    border: solid 1px;
    /* margin-top: -1px; */
    /* margin-right: -1px; */
  }
  #content_chicken {
    background-color: pink; /* pink */
  }

  #content_beef {
      background-color: red; /* red */

  }

  #content_sushi {
    background-color: yellow; /* yellow */
  }


/* Simple Responsive Framework. */
/* .row {
  width: 100%;
} */


/********** Desktop devices only **********/
@media (min-width: 992px) {
  .col-1, .col-2, .col-3 {
    width: 31%;
    margin-right: 2.5%;
  
  }
  /* .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  } */
  .col-3 {
    margin-right: 0px;
  }
}
/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.box {
  margin-top: 28px;
}
  .col-1 {
    width: 47.5%;
  }
  .col-2 {
    width: 47.5%;
    float: right
  }
  .col-3 {
    width: 100%;
  }
}

    /********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-1, .col-2, .col-3 {
    width: 95%;
  }
  /* .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  } */
}